@font-face{
    font-family: "Mogent";
    src: url("../fonts/Mogent.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor_fundo:#daf4ff;
    --cor_cabecalho:#2A56A4;
    --cor_item_cabecalho:#dfe7ff;
    --cor_conteudo:#f6fcfe;  
    --cor_destaque:#0095d5;
    --cor_logo:#87d1eb;
    --cor_input: #f2f2f2;
    --cor_aside: #1E2D59;
}

body{
    background-color: #daf4ff;
    margin: 0px;
}

header{
    position: sticky;
    top: 0;
    border-bottom: 0.4px solid #FFF2E7;
}

/*Menu de navegação pública*/
.cabecalho{
    background-color: #2A56A4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo_clinica{
    margin-left: 30px;
    font-family: Mogent;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 1px 1px #daf4ff;
    color: #87d1eb;
}

.cabecalho_menu{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
    gap: 30px;
}

.cabecalho_menu_item{
    text-decoration: none;
    font-family: Mogent;
    font-weight: bolder;
    color:#daf4ff;
}

/*Menu de navegação restrita*/
.cabecalho_restrito{
    background-color: var(--cor_aside);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Mogent;
}

.cabecalho_restrito_menu{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    gap: 30px;
    align-items:baseline
}

.cabecalho_restrito_menu > h3{
    margin-left: 30px;
    color: var(--cor_fundo);
}

.cabecalho_restrito_menu_item{
    text-decoration: none;
    margin-left: 30px;
    color: var(--cor_fundo);
}

/*Conteúdo principal*/
main{
    display: flex;
    height: 573px;
}

.conteudo_principal{
    background-color: var(--cor_conteudo);
    display: flex;
    justify-content: center;
    max-width: 1500px;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    overflow-x: auto;
}

table{
    font-size: 18px;
}

th, td{
    border: 1px solid gray;
    padding: 5px;
}

/*Rodapé*/
footer{
    bottom: 0;
    left: 0;
    width: 100%;    
}

.div_footer{
    background-color: #2A56A4;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo_footer, li{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.conteudo_footer > h3{
    border-bottom: 0.4px solid #FFF2E7;
}