@font-face {
    font-family: "Mogent";
    src: url("../fonts/Mogent.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor_fundo:#daf4ff;
    --cor_cabecalho:#2A56A4;
    --cor_item_cabecalho:#dfe7ff;
    --cor_conteudo:#f6fcfe;  
    --cor_destaque:#0095d5;
    --cor_logo:#87d1eb; 
    --cor_input: #f2f2f2;
}

body{
    background-color: var(--cor_fundo);
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    position: sticky;
    top: 0;
}

.cabecalho{
    background-color: var(--cor_cabecalho);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Mogent;
}

.logo_clinica{
    margin-left: 30px;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 1px 1px #daf4ff;
    color: var(--cor_logo);
}

.cabecalho_menu{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
    gap: 30px;
}

.cabecalho_menu_item{
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor_item_cabecalho);
}

main{
    background-color: var(--cor_conteudo);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    width: 80%;
    min-height: 495px;
}

.div_formulario{
    background-color: var(--cor_cabecalho);
    align-items: center;
    border-radius: 10px;
    margin: 0;
    padding: 20px;
    width: 600px;
    height: 300px;
}

.formulario{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

label{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1em;
    color: white;
}

input{
    background-color: var(--cor_input);
    border: 1px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 600px;
    height: 55px;
    font-size: 1.5em;
}

.container_botao{
    display: flex;
    justify-content: center;
    width: 604px;
}

.botao_agendar{
    background-color: white;
    border: 1px;
    border-radius: 10px;
    width: 200px;
    height: 55px;
    font-size: 1em;
    font-weight: bold;
    color: var(--cor_cabecalho);
}

.div_footer{
    background-color: #2A56A4;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

.conteudo_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo_footer, li{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

.conteudo_footer > h3{
    border-bottom: 0.4px solid #FFF2E7;
}